@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
  scroll-behavior: smooth;

  --font-primary: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-secondary: 'Parisienne', cursive;

  --font-size-xs: 1rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;

  --color-success-dk: #75a319;
  --color-success-alt: #669900;
  --color-success-md: #008000;
  --color-success-lt: #00B800;
  --color-warn-md: #ffa500;
  --color-warn-lt: #ffc71b;
  --color-error-alt: #ff3366;
  --color-error-md: #ff2323;
  --color-error-lt: #ff5757;

  /* --color-text:	hsl(0, 0%, 26%); */
  --color-text: #b9b9b9;
  /* --color-bg:	hsl(0, 0%, 95%); */
  --color-bg: #e3e3e3;
  /* --color-accent1: hsl(40, 89%, 65%); */
  --color-accent1: #f0a500;
  /* --theme-color-accent1: hsl(39, 89%, 71%); */
  --color-accent2: hsl(0, 0%, 100%);
  --color-accent3: hsl(0, 0%, 26%);

  --text: hsl(255, 36%,17%);
  --bkg1: hsl(0, 0%, 100%);
  --bkg2: hsl(26, 37%, 96%);
  --shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  /* Base font size = 62.5% or 10px for easy rem usage */
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-md);
  background-color: var(--color-bg);
  color: var(--color-text);
  letter-spacing: 1px;
  transition: background-color .25s, color .25s;
}

h1, h2, h3, h4 { margin: 2rem 0 1rem 0; color: var(--color-accent1); }

h1 {
  font-size: var(--font-size-xl);
  font-weight: 800;
}

h2 {
  font-size: 2.6rem;
  font-weight: 800;
}

h3 {
  font-size: 2.2rem;
  font-weight: 800;
}

h4 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  margin: 1rem 0;
}

.container {
  max-width: 54rem;
  padding: 1.4rem 1.3rem 2.8rem 3rem;
  margin: 0 auto;
  background-color: var(--bkg1);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 4rem;
  max-width: 40rem;
  /* border: 1px solid var(--color-accent1);
  border-radius: 2rem; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  border: 1px solid var(--color-accent1);
  border-radius: 1rem;
  padding: 0 2rem;
}

fieldset.commands {
  display: block;
  border: none;
  margin-top: 2rem;
  text-align: center;
}

legend {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--color-accent1);
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  text-align: center;
}

label {
  font-size: var(--font-size-sm);
  color: var(--color-accent3);
  margin-left: 0.4rem;
  text-align: start;
}

select {
  flex: 1;
  padding: 0.6rem 0;
  font-size: var(--font-size-md);
  border: 1px solid var(--color-accent1);
  border-radius: 0.5rem;
}

.field {
  flex: 1;
  padding: 0.6rem 0.4rem;
  font-size: var(--font-size-md);
  border: 1px solid var(--color-accent1);
  border-radius: 0.5rem;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

btn:hover {
  background-color: #0056b3;
}

btn:active {
  background-color: #004494;
}

.error {
  text-align: start;
  color: var(--color-error-md);
  font-size: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 0.4rem;
}
